<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h1> TinyURL Maker</h1>
  <% if (username) { %>
  <form action="/logout" method="POST">
    <h4> <%= username %> </h4>
    <input type="submit" value="Logout">
  </form>
  <% } else { %>
  <form action="/login" method="POST">
    <input type="text" name="username"
      placeholder="Type username here!">
    <input type="submit" value="Submit">
  </form>
  <% } %>
</body>
</html>